{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "jquery": true,
    "node": true
  },
  "plugins": [],
  "settings": {
    "ecamscript": 6
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    # "classes": true,
    # "defaultParams": true,
    # "destructuring": true,
    # "forOf": true,
    "generators": true,
    # "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    # "restParams": true,
    "spread": true,
    # "superInFunctions": true,
    # "templateStrings": true,
    "unicodeCodePointEscapes": true,
    # "globalReturn": true,
    "jsx": true
    # "experimentalObjectRestSpread": true
  },
  "rules": {
    "no-alert": 2,
    "no-caller": 2,
    "no-console": 0,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-empty-label": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-implicit-coercion": 2,
    "no-inner-declarations": [2, "functions"],
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-mixed-requires": [0, false],
    "no-mixed-spaces-and-tabs": [2, false],
    "linebreak-style": [0, "unix"],
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-multiple-empty-lines": [0, {
      "max": 2
    }],
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 1,
    "no-new-wrappers": 2,
    "no-octal-escape": 2,
    "no-extra-parens": [2, "functions"],
    "no-proto": 2,
    "no-return-assign": 1,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-undefined": 1,
    "no-unused-expressions": 2,
    "no-unused-vars": [1, {
      "vars": "all",
      "args": "after-used",
      "varsIgnorePattern": "^React$"
    }],
    "no-useless-call": 1,
    "no-void": 2,
    "no-warning-comments": [2, {
      "terms": ["todo", "fixme", "xxx"],
      "location": "start"
    }],
    "no-with": 2,

    "array-bracket-spacing": [0, "never"],
    "accessor-pairs": 2,
    "block-scoped-var": 2,
    "brace-style": [0, "1tbs"],
    "comma-dangle": [2, "never"],
    "complexity": [1, 11],
    "computed-property-spacing": [0, "never"],
    "consistent-return": 1,
    "consistent-this": [0, "that"],
    "curly": [2, "all"],
    "default-case": 2,
    "dot-notation": [2, {
      "allowKeywords": true,
      "allowPattern": "^[a-z]+(_[a-z]+)+$"
    }],
    "eqeqeq": [2, "smart"],
    "func-style": [0, "declaration"],
    "guard-for-in": 1,
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "key-spacing": [0, {
      "beforeColon": false,
      "afterColon": true
    }],
    "max-depth": [0, 4],
    "max-len": [0, 80, 4],
    "max-nested-callbacks": [0, 2],
    "max-params": [0, 3],
    "max-statements": [0, 10],
    "new-cap": 2,
    "object-curly-spacing": [0, "never"],
    "one-var": [0, "always"],
    "operator-assignment": [0, "always"],
    "quotes": [2, "single"],
    "radix": 1,
    "semi": [2, "always"],
    "semi-spacing": [0, {
      "before": false,
      "after": true
    }],
    "space-after-keywords": [0, "always"],
    "space-before-blocks": [0, "always"],
    "space-before-function-paren": [0, "always"],
    "space-in-parens": [0, "never"],
    "space-unary-ops": [0, {
      "words": true,
      "nonwords": false
    }],
    "strict": [2, "global"],
    "wrap-iife": [2, "inside"],
    "yoda": [2, "never"]
  }
}
